@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/flatpickr.css";

@import "tailwindcss/utilities";

.archive-switch:checked + .bg-gray-200 {
    background-color: #4ade80; /* Green background for checked state */
}

.archive-switch:checked + .bg-gray-200 .dot {
    transform: translateX(100%); /* Move the dot to the right */
}

.archive-switch:checked ~ .dot {
    background-color: #fff; /* Dot color when checked */
}

.dot {
    transition: transform 0.3s;
}
